.header-blog {
  width: 100%;
  min-height: 400px;
  background: url("../img/header-blog-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header-blog__container {
    width: 90%;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column; }
