.lastpost {
  width: 100%;
  min-height: 140px;
  margin-bottom: 140px; }
  .lastpost__container {
    width: 70%;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto; }
  .lastpost-small-headline {
    font-size: 13px;
    color: #d4af37;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-top: 0px; }
  .lastpost-headline {
    opacity: .7;
    color: #021725;
    font-size: 44px;
    letter-spacing: 2.2px;
    margin-top: 0;
    margin-bottom: 37px; }
  .lastpost__post {
    width: 769px;
    min-height: 390px;
    background: #f9f9f9;
    overflow: hidden;
    display: flex;
    margin-bottom: 84px; }
    .lastpost__post__left {
      width: 384px;
      height: 390px;
      overflow: hidden; }
      .lastpost__post__left img {
        width: 384px;
        height: 390px; }
    .lastpost__post__right {
      width: 385px;
      min-height: 390px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start; }
    .lastpost__post-date {
      color: #505d68;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: .65px;
      padding-left: 38px;
      margin-top: 30px;
      margin-bottom: 0; }
    .lastpost__post-title {
      color: #505d68;
      font-size: 30px;
      letter-spacing: .9px;
      padding-left: 38px;
      margin-top: 14px;
      margin-bottom: 0; }
    .lastpost__post-text {
      width: 100%;
      color: #505d68;
      line-height: 24.7px;
      letter-spacing: .8px;
      padding-left: 38px;
      margin-top: 13px; }
    .lastpost__post-btn {
      width: 127px;
      height: 48px;
      border: 1px solid #000000;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #021725;
      font-size: 14px;
      letter-spacing: .7px;
      margin-left: 38px;
      margin-top: 36px;
      transition: .2s;
      margin-bottom: 20px; }
      .lastpost__post-btn:hover {
        background: #F3F3F3; }
      .lastpost__post-btn:active {
        background: #EDEDED; }
  .lastpost-btn {
    width: 238px;
    height: 57px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    text-align: center;
    color: #021725;
    font-size: 14px;
    letter-spacing: .7px;
    transition: .2s; }
    .lastpost-btn:hover {
      background: #F9F9F9; }
    .lastpost-btn:active {
      background: #F3F3F3; }

@media (min-width: 320px) and (max-width: 770px) {
  .lastpost__container {
    width: 100%; }
  .lastpost__post {
    width: 100%; } }

@media (min-width: 320px) and (max-width: 574px) {
  .lastpost__post {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; } }

@media (min-width: 320px) and (max-width: 384px) {
  .lastpost__post__left {
    width: 100%; }
    .lastpost__post__left img {
      width: 100%; } }
