$text-transform-upper: uppercase;
$bold: bold;
$center: center;
$flex: flex;
$direction-col: column;
$auto: auto;
$width-100: 100%;
$white: #fff;
$wrap: wrap;
$none: none;

.header__top {
  width: $width-100;
  min-height: 75px;
  display: $flex;
  align-items: $center;
}

.header-logo {
  max-width: 220px;
  max-height: 125px;
  color: $white;
}

.header__top__left {
  width: 50%;
}

.header-logo-img {
  max-width: 220px;
  max-height: 125px;
}

.header__top__right {
  width: 50%;
  display: $flex;
  justify-content: flex-end;
  align-items: $center;
}

.header__nav {
  list-style: $none;
  margin-right: 10px;
  display: $none;
  .header__nav-list {
    font-size: 14px;
    text-transform: $text-transform-upper;
    letter-spacing: 0.8px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__nav-list a {
    color: $white;
    transition: .2s;

    &:hover {
      color: #F9F9F9;
    }
    &:active {
      color: #F3F3F3;
    }
  }
}

#nav.active {
  display: $flex;
}

.header__top-menu-text {
  color: $white;
  text-transform: $text-transform-upper;
  letter-spacing: 0.8px;
  padding-right: 2px;
  display: inline-block;
}

#menu-text.active {
  display: $none;
}

.nav-toggle-btn {
  font-size: 25px;
  color: $white;
  cursor: pointer;
  transition: .2s;
}

@media(min-width: 320px) and (max-width: 480px) {
  .header__nav {
    .header__nav-list {
      padding-left: 2.5px;
      padding-right: 2.5px;
    }
  }
}

@media(min-width: 320px) and (max-width: 440px) {
  .header__nav {
    flex-wrap: $wrap;
  }
}

@media(min-width: 320px) and (max-width: 381px) {
  .header__nav {
    justify-content: flex-end;
  }
}