$text-transform-upper: uppercase;
$bold: bold;
$center: center;
$flex: flex;
$direction-col: column;
$auto: auto;
$width-100: 100%;
$white: #fff;
$wrap: wrap;
$none: none;
$transparent: transparent;
$black: #000;

.whatwe {
  width: $width-100;
  min-height: 310px;
  margin-bottom: 140px;

  &__container {
    width: $width-100;
    min-height: 310px;
    display: $flex;
    flex-direction: $direction-col;
    align-items: $center;
    text-align: $center;
    margin: $auto;
  }

  &-small-headline {
    font-size: 13px;
    color: #d4af37;
    text-transform: $text-transform-upper;
    letter-spacing: 0.65px;
    margin-top: 0px;
  }

  &-headline {
    opacity: .7;
    color: #021725;
    font-size: 44px;
    letter-spacing: 2.2px;
    margin-top: 0;
    margin-bottom: 57px;
  }

  &__works {
    width: $width-100;
    min-height: 190px;
    display: $flex;
    flex-wrap: $wrap;
    max-width: 1276px;
    justify-content: $center;

    & img {
      width: 317px;
      height: 300px;
      margin-left: 1px;
      margin-right: 1px;
      margin-bottom: 2px;
    }
  }
}